:root {
    --color-span: rgb(255, 255, 255);
    --color-background: rgb(134, 111, 96);
}

* {
    margin: 0px;
    padding: 0px;
}
@font-face { 	font-family: "LOTR"; 	src: url('../images/morris-roman/MorrisRoman-Black.ttf'); }

#MyVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    height: 200vh;
    z-index: 1;
}

.container1P {
    display: flex;
    flex-flow: row wrap;
    height: 50%;
    scroll-behavior: smooth;
}

.containerP2 {
    background-color: var(--color-background);
    display: flex;
    flex-flow: row wrap;
    height: 50%;
    width: 100%;
}

#BOXtextANIM {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: textANIM 10s;
    width: 100%;
    padding: 5px;
}


#BOXtextANIM span p {
    font-family: LOTR;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    color: var(--color-span);
}

#BOXtextANIMinBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: textANIM 12s;
    padding: 5px;
}

#BOXtextANIMinBottom a{
    font-family: LOTR;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    color: var(--color-span);
    text-decoration: none;
}

#BOXtextANIMinBottom span p{
    font-family: LOTR;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    text-decoration: underline;
    color: var(--color-span);
}

.

@keyframes textANIM {
    0% {
        transform: translateY(300%);
    }
    100% {
        transform: translateY(0);
    }
}