/************HEADER**************/

/************FOOTER**************/

/************ROOT**************/
:root{
    --Blue-:#708AFF;
    --Green-:#adbe74;
    --White-:rgb(255, 255, 255);
    --Black-:rgb(0, 0, 0);
}
/************BACKGROUND**************/

body{
    background-image: url();
    background-size: cover;
}

/************MAIN ET MISE EN PAGE**************/

.Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}            
            
/************TITRE DE PAGE**************/
.Pandora {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 25%;
}
@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }

    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    
}

@keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 

/************HEADER**************/

/************HEADER**************/

/************HEADER**************/

/************HEADER**************/

