body{
    padding: 0;
    margin: 0;
}

:root{
    --yellowSP--:#FDAF01;
    --yellowSimp--:#FFDE00;
    --skyBlue--:#54B4E6;
    --grey--:#231F20;
    --white2--:#f2f2f2;
    --white3--:#ddd;
}

@font-face{
    font-family: the-simpsons;
    src: url(../font/the-simpsons.otf);
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
}

.titre{
    font-family: the-simpsons;
    text-align: center;
    font-size: 250%;
    color: var(--yellowSimp--);
    text-shadow: -2px 2px var(--grey--);
    margin-bottom: 2%;
    animation-name: titreAnimation;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.SP{
    text-decoration: none;
    color: var(--yellowSP--);
}

.text1{
    font-family: the-simpsons;
    color: var(--yellowSimp--);    
    text-shadow: -2px 2px var(--grey--);
    text-align: center;
}

.text2{
    font-family: the-simpsons;
    color: var(--yellowSimp--);    
    text-shadow: -2px 2px var(--grey--);
    text-align: center;
    margin-top: 1%;
}


@keyframes titreAnimation {
    0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 9);
    }
}

.container{
    display: flex;
}

.blockPlace{
    width: 50%;
    text-align: center;
    margin-top: 2%;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
    font-family: the-simpsons;
}

.blockNull{
    width: 50%;
    padding: 2%;
}

.perso{
    transition: transform 1s ease-in-out;
}

.perso:hover{
    transform: scaleX(-1);
}

.container2{  
    padding: 2% ;
    background-color: var(--skyBlue--);
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

.batiment{
    display: flex;
    justify-content: center;
}

.leftright{
    display: flex;
}

.textImage{
    display: flex;
    flex-direction: column;
}

.imgWidth{
    width: 100%;
}

#place {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    justify-content: center;
    margin-top: 2%;
    border-radius: 100%;
    overflow: hidden;
}
  
#place td, #place th {
    border: 1px solid var(--white3--);
    padding: 8px;
}
  
#place tr:nth-child(even){
    background-color: var(--white2--);
}

#place tr:nth-child(odd){
    background-color: white;
}
  
#place tr:hover {
    background-color: var(--white3--);
}
  
#place th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--yellowSimp--);
    color: white;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--yellowSimp--);
    text-align: center;
    display: flex;
    flex-direction: row;
}

.footer1{
    width: 33.333%;
}

.footer2{
    width: 33.333%;
    display: flex;
    align-items: center;
}

.footer3{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.socialMedia{
    width: 25px;
    margin: 3px;
}