html{
    position: relative;
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background-color: #004E98;
}

.containerForm{
    border-radius: 5px;
    padding: 20px;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #3A6EA5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
input[type=text]:focus {
    border: 3px solid #343F3E;
}
  
textarea:focus{
  border: 3px solid #343F3E;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #8F91A2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 150px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #DCEDFF;
    border: none;
    padding: 3% 30%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 15%;
    
}

label{
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    color: white;
}

::placeholder{
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;    
}

.contact{
    display: flex;
    width: 50%;
    margin-left: 25%;
}
