:root {
    --color-span: rgb(255, 255, 255);
    --color-background: rgb(245, 245, 245);
    --collor-picture: rgba(0, 0, 0, 0.37);
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
@font-face { 	font-family: "LOTR"; 	src: url('../images/morris-roman/MorrisRoman-Black.ttf'); }

#MyVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#MT {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px var(--collor-picture)
}
.AboutMT {
    display: flex;
    justify-content: space-around;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    height: 200px;
    width: 100%;
}
.AboutMT p {
    width: 750px;
    height: 250px;
    font-size: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 270vh;
    z-index: 1;
}

.container1P {
    display: flex;
    flex-flow: row wrap;
    height: 40%;
    scroll-behavior: smooth;
}

.containerP2 {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
}

#BOXtextANIM {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: textANIM 10s;
    width: 100%;
    padding: 5px;
}


#BOXtextANIM span p {
    font-family: LOTR;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    color: var(--color-span);
}

#BOXtextANIMinBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: textANIM 10s;
    padding: 5px;
}

#BOXtextANIMinBottom a{
    font-family: LOTR;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    color: var(--color-span);
    text-decoration: none;
}

#BOXtextANIMinBottom span p{
    font-family: LOTR;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    text-decoration: underline;
    color: var(--color-span);
}

.Presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 325px;
    padding: 15px;
}

.containerP2 div h1 {
    padding: 15px;
    font-family: LOTR;
    text-decoration: underline;
}
.containerP2 div h2 {
    font-family: LOTR;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
}

.containerP2 div h3 {
    font-family: LOTR;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
    color: var(--txt-color);
}
.containerP2 div h3 a{
    font-family: LOTR;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    color: var(--txt-color);
}

.discover {
    width: 1200px;
    height: 800px;
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    width: calc(1300px * 3);
    animation:  slides 10s infinite;
}
.slide {
    float: left;
}
@keyframes slides {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-1300px);
    }
    43% {
        transform: translateX(-1300px);
    }
    66% {
        transform: translateX(-2600px);
    }
    76% {
        transform: translateX(-2600px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes textANIM {
    0% {
        transform: translateY(300%);
    }
    100% {
        transform: translateY(0);
    }
}