body{
    background-color: black;
}

.header{
    color: white;
    display: flex;
    justify-content: end;
}

.headerNav{
    text-decoration: none;
    color: white;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.headerNav:hover{
    color: purple;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: purple;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 10%;
}

.footer1{
    width: 33.333%;
}

.footer2{
    width: 33.333%;
    display: flex;
    align-items: center;
}

.footer3{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.socialMedia{
    width: 20px;
    margin: 3px;
}