@font-face{
    font-family: south-park;
    src: url(../font/south-park.ttf);
}

body{
    background-image: url(../images/south-park/south-park.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
}

.titre{
    text-align: center;
}

.text{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
}

.textKY{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
    text-align: center;
}
.textS{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
    text-align: center;
}
.textC{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
    text-align: center;
}
.textKE{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
    text-align: center;
}

.sousLeText{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.KyleDIV{
    display: flex;
    flex-direction: column;
    align-items: center;    
    animation-name: Kyle;
    animation-duration: 3s;
}

.StanDIV{
    display: flex;
    flex-direction: column;
    align-items: center;    
    animation-name: Stan;
    animation-duration: 2s;
}

.CartmanDIV{
    display: flex;
    flex-direction: column;
    align-items: center;    
    animation-name: Cartman;
    animation-duration: 4s;
}

.KennyDIV{
    display: flex;
    flex-direction: column;
    align-items: center;    
    animation-name: Kenny;
    animation-duration: 1s;
}

.Explications{
    margin-top: 2%;
    font-family: south-park;
    letter-spacing: 2px;
    color: #FDAF01;
    text-align: center;
    font-size: 40px;
}

.Kyle{
    width: 50%;
}
.Stan{
    width: 50%;
}
.Cartman{
    width: 50%;
}
.Kenny{
    width: 50%;
}

@keyframes Kyle {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes Stan {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0);
    }
} 
@keyframes Cartman {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0);
    }
} 
@keyframes Kenny {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0);
    }
}

.Kyle:hover + .textKY{
    display: block;
}

.Stan:hover + .textS{
    display: block;
}

.Cartman:hover + .textC{
    display: block;
}

.Kenny:hover + .textKE{
    display: block;
}

.text2{
    font-family: south-park;
    text-align: center;
    color: #FDAF01;
    font-size: 40px;
    margin-top: 10%;
}

.batiments{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 100%;
}

.ecole{
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}
}

.ecoleText{
    color: white;
    font-family: south-park;
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}
}

.imgEcole{

}