@font-face{
    font-family: south-park;
    src: url(../font/south-park.ttf);
}

*{
    margin: 0;
    padding: 0;
}

main{
    margin-bottom: 2%;
}

:root{
    --yellowSP--:#FDAF01;
    --grey--:rgba(0, 0, 0, 0.3);
}

body{
    background-image: url(../images/south-park/south-park.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
}

.titre{
    text-align: center;
    margin-top: 5%;
}

.text{
    display: flex;
    background-color: var(--grey--) ;
    border-radius: 30px;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
}

.textKY{
    display: none;
    background-color: var(--grey--);
    border-radius: 30px;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
    text-align: center;
}
.textS{
    display: none;
    background-color: var(--grey--);
    border-radius: 30px;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
    text-align: center;
}
.textC{
    display: none;
    background-color: var(--grey--);
    border-radius: 30px;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
    text-align: center;
}
.textKE{
    display: none;
    background-color: var(--grey--);
    border-radius: 30px;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
    text-align: center;
}

.sousLeText{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.KyleDIV{
    display: flex;
    flex-direction: column;
    align-items: center;    
    animation-name: Kyle;
    animation-duration: 3s;
}

.StanDIV{
    display: flex;
    flex-direction: column;
    align-items: center;    
    animation-name: Stan;
    animation-duration: 2s;
}

.CartmanDIV{
    display: flex;
    flex-direction: column;
    align-items: center;    
    animation-name: Cartman;
    animation-duration: 4s;
}

.KennyDIV{
    display: flex;
    flex-direction: column;
    align-items: center;    
    animation-name: Kenny;
    animation-duration: 1s;
}

.Explications{
    margin-top: 2%;
    font-family: south-park;
    letter-spacing: 2px;
    color: var(--yellowSP--);
    text-align: center;
    font-size: 40px;
}

.Kyle{
    width: 50%;
}
.Stan{
    width: 50%;
}
.Cartman{
    width: 50%;
}
.Kenny{
    width: 50%;
}

@keyframes Kyle {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes Stan {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0);
    }
} 
@keyframes Cartman {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0);
    }
} 
@keyframes Kenny {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0);
    }
}

.Kyle:hover + .textKY{
    display: block;
}

.Stan:hover + .textS{
    display: block;
}

.Cartman:hover + .textC{
    display: block;
}

.Kenny:hover + .textKE{
    display: block;
}

.text2{
    font-family: south-park;
    text-align: center;
    color: var(--yellowSP--);
    font-size: 40px;
    margin-top: 10%;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}

.batiment{
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.batimentText{
    color: var(--yellowSP--);
    text-shadow: 2px 2px 8px black;
    font-family: south-park;
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.imgBatiment{
    width: 80%;

}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--yellowSP--);
    text-align: center;
    display: flex;
    flex-direction: row;
}

.footer1{
    width: 33.333%;
}

.footer2{
    width: 33.333%;
    display: flex;
    align-items: center;
}

.footer3{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.socialMedia{
    width: 25px;
    margin: 3px;
}

.containLOGO {
    display: flex;
    flex-direction: row;
    height: 40%;
}
.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}
ul {
    width: 932px;
    height: 51px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}

.lidc {
    float: left;
}

.lidc .adc, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
    font-size: 20px;
}

.lidc .adc:hover, .dropdown:hover .dropbtn {
    background-color: #acafb4;
    border-radius: 10px;
}

.lidc.dropdown {
    display: inline-block;
}

.dropdown-content .adc {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content2{
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content .adc:hover {
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.Remi:hover .dropdown-content2{
    display: block;
}

.Francois:hover .dropdown-content2{
    display: block;
}

.Hugo:hover .dropdown-content2{
    display: block;
}

.REM{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:rgb(224, 224, 224) ;
}
.FRAN{
    font-size:  Arial, Helvetica, sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;    
    background-color:rgb(224, 224, 224) ;
}
.HUG{
    font-size:  Arial, Helvetica, sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:rgb(224, 224, 224) ;
}