/************HEADER**************/

/************FOOTER**************/

/************ROOT**************/
:root{
    --Blue-:#708AFF;
    --Green-:#adbe74;
    --White-:rgb(255, 255, 255);
    --Black-:rgb(0, 0, 0);
}
/************BACKGROUND**************/
#slideshow {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width:100%;
    height:100%;
    display: inline-block;
}
.elemnt,.elemnt1,.elemnt2,.elemnt3,.elemnt4,.elemnt5,.elemnt6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.elemnt {
    animation: xfade 21s 18s infinite;
    background-image: url("https://wallpaperaccess.com/full/2071603.jpg");
}
.elemnt1 {
    animation: xfade 21s 15s infinite;
    background-image: url("https://i.pinimg.com/originals/c3/f8/ea/c3f8ea757deb355e8ca93c0e1b10a2f2.jpg");
}
.elemnt2 {
    animation: xfade 21s 12s infinite;
    background-image: url("https://i.pinimg.com/originals/c0/8e/51/c08e51ec418f41b045bba8513cbbabf5.jpg");
}
.elemnt3 {
    animation: xfade 21s 9s infinite;
    background-image: url("https://d2ofqe7l47306o.cloudfront.net/games/1920x1080/avatar-frontiers-of-pandora-06.jpg");
}
.elemnt4 {
    animation: xfade 21s 6s infinite;
    background-image: url("https://silver-fang.com/storage/2021/03/Pandora-Avatar.jpg");
}
.elemnt5 {
    animation: xfade 21s 3s infinite;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/171/385/301/art-avatar-fantasy-landscapes-wallpaper-preview.jpg");
}
.elemnt6 {
    animation: xfade 21s 0s infinite;
    background-image: url("https://i.pinimg.com/736x/ec/2d/20/ec2d2044ba4f646964b8adaf8a4a6b2c.jpg");
}

@keyframes xfade{
    15% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    90% {
        opacity:0;
    }
}
/************MAIN ET MISE EN PAGE**************/

.Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}            
            
/************TITRE DE PAGE**************/
.Pandora {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 25%;
}
@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }

    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    
}

@keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 

/************HEADER**************/

/************HEADER**************/

/************HEADER**************/

/************HEADER**************/

