:root {
    --bg-color: rgb(246,241,240);
    --txt-color: rgb(0, 0, 0);
    --box-shadow: rgba(0, 0, 0, 0.68);
}
@font-face { 	font-family: "LOTR"; 	src: url('../images/morris-roman/MorrisRoman-Black.ttf'); }
* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.containerP1 {
    display: flex;
    flex-direction: column;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.58),rgba(206, 150, 94, 0.7) ),url(../images/tolkien.jpeg);
    background-size: cover;
    height: 50%;
    min-width: 50%;
}
.txtOpening {
    font-family: LOTR;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: var(--txt-color);
    padding-top: 100px;
}

.contentEnding {
    display: flex;
    justify-content: space-around;
    height: 545px;
}
.contentLeft {
    height: 50%;
}
.contentRight {
    height: 50%;
}
.containerP2 {
    height: 50%;
    min-width: 50%;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),url(../images/1920x1080-px-map-Middle-earth-The-Lord-of-the-Rings-1056377-wallhere.com.jpg);
    background-size: cover;
}
#Moria {
    padding-top: 50px;
    height: 400px;
    width: 320px;
}
/*SLIDER */
.Slider {
    width: 600px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px var(--box-shadow);
}

.slides {
    width: calc(600px * 5);
    animation:  slides 13s infinite;
}
.slide {
    float: left;
}
@keyframes slides {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-600px);
    }
    40% {
        transform: translateX(-1200px);
    }
    80% {
        transform: translateX(-1800px);
    }
    100% {
        transform: translateX(0);
    }
}
/* SLIDER */
/* HEADER */
.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}
ul {
    width: 932px;
    height: 51px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #acafb4;
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* FIN HEADER */