@font-face{
    font-family: the-simpsons;
    src: url(../font/the-simpsons.otf);
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
}

.titre{
    font-family: the-simpsons;
    text-align: center;
    font-size: 250%;
    color: #FFDE00;
    text-shadow: -2px 2px #231F20;
    margin-bottom: 2%;
    animation-name: titreAnimation;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.SP{
    text-decoration: none;
    color: #FDAF01;
}

.text1{
    font-family: the-simpsons;
    color: #FFDE00;    
    text-shadow: -2px 2px #231F20;
    text-align: center;
}

.text2{
    font-family: the-simpsons;
    color: #FFDE00;    
    text-shadow: -2px 2px #231F20;
    text-align: center;
    margin-top: 1%;
}


@keyframes titreAnimation {
    0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 9);
    }
}

.blocks{
    display: flex;
}

.blockPlace{
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-top: 2%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    padding: 2%;
    color: white;
}

.blockNull{
    width: 50%;
    padding: 2%;
}